createdAt: "2017-12-28T00:37:32.568Z"
updatedAt: "2017-12-28T00:57:25.182Z"
type: "SNIPPET_NOTE"
folder: "093dd64608a1ed5580f1"
title: "Snippet note example"
description: '''
  Snippet note example
  You can store a series of snippets as a single note, like Gist.
'''
snippets: [
  {
    name: "example.html"
    mode: "html"
    content: '''
      <html>
      <body>
      <h1 id='hello'>Enjoy Boostnote!</h1>
      </body>
      </html>
    '''
  }
  {
    name: "example.js"
    mode: "javascript"
    content: '''
      var boostnote = document.getElementById('enjoy').innerHTML
      
      console.log(boostnote)
    '''
  }
]
tags: []
isStarred: false
isTrashed: true
