createdAt: "2018-01-24T13:45:16.764Z"
updatedAt: "2018-01-24T13:52:00.193Z"
type: "MARKDOWN_NOTE"
folder: "425df290fb358f0b704e"
title: "Recitation"
content: '''
  ### Recitation
  
  >Always turn in the prelab for the day, and postlab for the previous lab. 
  
  1. Fire extinguisher
  2. Emergency Shower
  3. Eye Wash Fountain
  4. Fire Blanket
  5. Telephone
  6. Emergency Numbers for: 
     * Emergency, fire department, facility
  7. Nearest fire alarm
  8. What do when chemical splatter into your eye
  9. bottle acid on your leg
  10. gas hose on the bunsen fire catch fire
  11. bottle of flammable reagent been spilled
  12. why shouldn't you wear contacts, and/or bring food / water
'''
tags: []
isStarred: false
isTrashed: false
